@import "~bootstrap/scss/bootstrap";

html {
    scroll-behavior: smooth;
    ::selection {
        background: #212121;
        color: white;
    }
    
    ::-moz-selection {
        background:  #212121;
        color: white;
    }
}

body {
    min-width: 360px;        
    width: auto !important;
    width: 360px; 

    ::selection {
        background: #212121;
        color: white;
    }
    
    ::-moz-selection {
        background:  #212121;
        color: white;
    }
}