@mixin transition($time) {
    transition: all $time ease;
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -o-transition: all $time ease;
    -ms-transition: all $time ease;
}

.card {
    width: 100%;
    height: auto;
    font-family: "Montserrat", sans-serif;

    .card-display {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        color: #263238;

        .text {
            position: absolute;
            text-align: center;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &:hover {
        .card-display {
            opacity: 1;
            background: white;
            @include transition(1s);

            .text {
                top: 50%;
                @include transition(1s);
            }
        }

    }
}

.btn-outline {
    margin-top: 40px;
    color: #263238!important;
    border: 2px !important;
    border-style: inset !important; 
    border-color: #263238 !important;
    box-shadow: none !important;
    padding: 10px 20px !important;
    font-weight: 500 !important;
    &:hover {
        background-color: #263238 !important;
        color: white !important;
        cursor: pointer;
    } 
}

.title {
    font-size: 50px;
    font-weight: 600;
}

.name {
    font-weight: 700;
    font-size: 25px;
}

.types {
    font-weight: 300;
    font-size: 20px;
}

@media only screen and (max-width: 1024px) {
    .title {
        font-size: 40px;
    }
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 30px;
    }
}